@use '../../partials/mixin' as *;



.ptext {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;

    & p {
        font-weight: 700;
        margin: 0;
        padding:4px 1rem;
        border-radius: 10px;
        box-shadow: 0 5px 4px -1px rgba(160, 218, 236, 0.25);
        background: linear-gradient(to left, #a597aa, #afd7e7);
        background-size: 400% 400%;
        animation: backchange 10s ease-in-out infinite ;
    }

    &-box{
        background-color: white;
        width: 99vw;
        height: 70vh;
        margin-top: 1rem;
        border-radius: 30px;
        padding: 20px;
        animation: fadein 2.5s  cubic-bezier(.97,.05,.11,.73);
        display: flex;
        align-items: center;
        overflow: hidden;
        box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
        position: relative;
        @include tablet {
            width: 67vw;
        }
        @include desktop {
            width: 74vw;

        }
        &__img{
            width: 100%;
            height: 100%;
            max-height: 15rem;
            object-fit: contain;
            border-bottom: 1px solid grey;
            background-color: grey;
            border-radius: 10px;
            box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);

        }
        &__card{
            overflow: hidden;
            display: flex;
            flex-direction: column;
            background-color: white;
            min-width: 170px;
            max-width: 170px;
            animation: fadeinhard 2.5s  cubic-bezier(.97,.05,.11,.73);
            min-height: 340px;
            border-radius: 10px;
            justify-content:space-around;
            align-items: center;
            
            padding-bottom: 5%;
            padding-left: 0;

            @include tablet {
                min-width: 290px;
                max-width: 290px;
            }

            &:hover{
                transform: scale(1.04);

            }
        }
    }

    &-description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;
        position: relative;
        z-index: 2;
        @include tablet {
            margin-top: 0.2rem;

        }
    }

    &__header{
        text-align: center;
        color: #fff;
        font-size: 40px;
        margin: 0px;
        animation:fadein 1s ;

        @include tablet {
            font-size: 50px;
        }

        &-span{
            color: rgb(87, 84, 84);
        }
    }
    &__headersmall{
        text-align: center;
        color: #fff;
        font-size: 30px;
        margin-top: 60px;
        // animation: slide 12s steps(4) infinite;
        // position: relative;
        // top: 0;
        &-span {
            position: relative;
            z-index: 1;
            padding: 4px;

            &::after{

                content: "Who?";
                position: absolute;
                color: rgb(83, 93, 83);
                left: 0;
                height: 100%;
                width: 100%;
                background: #a6bae9;
                animation: typing 5s steps(10) infinite;
                z-index: 3;
                border-radius: 10px;

              }
        }
    }
}

@keyframes fadeinhard {
	0% {
		transform: translateX(-80%);
		opacity: 0;
	}

	100% {
		transform: translateX(0%);
		opacity: 1;
	}
}