// Colors
$slate : #5C667E;
$graphite: #232940;
$green: #158463;
$cloud:#BDC5D5;
$light-grey:#F7F8F9;
$red: #C94515;
$white: #FFFFFF;
$primary-blue: #005778;
$secondary-blue: #041e42;

// Palates
$charcoal: #464646;
$mist: #c4c4bc;
$smoke: #f4f4f4;
$beige: #dedad1;
$cool: #BDC5D5;
$cooler: #adc6f6;
$back: #F7F8F9;
$green: rgb(160, 224, 160);

// Breakpoints

$tablet-breakpoint: 767px;

$desktop-breakpoint:1279px;

// horizontal margins for mobile and tablet

$mobile-margins: 16px;

$tablet-margins: 32px;